/* https://flatuicolors.com/palette/cn */

.background{
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.box, .box:focused{
    -fx-hgap: 8px;
    -fx-padding: 16px;
    -fx-background-color: #2f3542;
    -fx-font-family: "Gill Sans Nova";
    -fx-background-radius: 32px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-opacity: 0.75;
}

.title-box, .title-box:focused{
    -fx-max-height: 16px;
    -fx-font-family: "Gill Sans Nova";
    -fx-background-color: #2f3542;
    -fx-background-radius: 32px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-opacity: 0.75;
}

.title, .title:focused{
    -fx-background-color: none;
    -fx-font-family: "Gill Sans Nova";
    -fx-font-weight: bold;
    -fx-text-fill: #7bed9f;
}

.text, .text:focused{
    -fx-background-color: none;
    -fx-font-family: "Gill Sans Nova";
    -fx-text-fill: #ced6e0;
    -fx-font-weight: bold;
}

.error, .error:focused{
    -fx-background-color: none;
    -fx-font-family: "Gill Sans Nova";
    -fx-text-fill: #ff6348;
    -fx-font-weight: bold;
}

.scoreboard-button {
    -fx-background-color: linear-gradient(#a9a9a9, #d3d3d3);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Gill Sans Nova";
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
    -fx-transition: all 0.3s ease;
}

.scoreboard-button:hover {
    -fx-background-color: linear-gradient(#d3d3d3, #a9a9a9);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 7, 0, 0, 2);
}

.login-button {
    -fx-background-color: linear-gradient(#f2a647, #e44914);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Gill Sans Nova";
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
    -fx-transition: all 0.3s ease;
}

.login-button:hover {
    -fx-background-color: linear-gradient(#e44914, #f2a647);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 7, 0, 0, 2);
}


