/* https://flatuicolors.com/palette/cn */

.background{
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.box{
    -fx-hgap: 8px;
    -fx-padding: 16px;
    -fx-background-color: #2f3542;
    -fx-background-radius: 32px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-opacity: 0.75;
}

.title-box{
    -fx-max-height: 16px;
    -fx-background-color: #2f3542;
    -fx-background-radius: 32px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-opacity: 0.75;
}

.title, .title:focused{
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-text-fill: #7bed9f;
}

.text, .text:focused{
    -fx-background-color: none;
    -fx-text-fill: #ced6e0;
    -fx-font-weight: bold;
}

.error,  .error:focused{
    -fx-background-color: none;
    -fx-text-fill: #ff6348;
    -fx-font-weight: bold;
}

.input{
    -fx-background-color: #747d8c;
    -fx-text-fill: #ced6e0;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}