
root {
    -fx-font-family: "Gill Sans Nova";
}

.background{
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.main-menu-button {
    -fx-background-color: linear-gradient(#a9a9a9, #d3d3d3);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Gill Sans Nova";
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
    -fx-transition: all 0.3s ease;
}

.main-menu-button:hover {
    -fx-background-color: linear-gradient(#d3d3d3, #a9a9a9);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 7, 0, 0, 2);
}


.box{
    -fx-hgap: 8px;
    -fx-padding: 16px;
    -fx-background-color: #2f3542;
    -fx-background-radius: 0px 32px 32px 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-opacity: 0.75;
}